!!!
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
%head
  %meta{charset: "utf-8"}
  %title
    = current_page.data.title || "making Tea With Strangers."
  %meta{name:"description", content: "The stories of the designers and engineers behind Tea With Strangers"}
  %meta{name:"author", content:"Brewers"}
  %meta{name:"viewport", content:"width=device-width, initial-scale=1, maximum-scale=1"}
  
  /TypeKit
  <script src="//use.typekit.net/wun7ckx.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  = stylesheet_link_tag "application"
  = javascript_include_tag  "all"

  = yield_content :assets

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  %link{rel:"shortcut icon", href:"/favicon.png"}
%body{class: page_classes}
  .wrapper
    .wrapper-content
      = yield
    = partial 'partials/footer'
