= partial 'partials/header'

.team-la.cover-photo
  .container
    .content
      .content-box
        /lol
        %h2
          %br
.container
  %section.copy-section
    %h2.copy-section-header Who Are We?
    :markdown
      Curious who's behind the curtain at Tea With Strangers? It's us. We're on
      a mission to make the world smaller, a few cups of tea at a time. [Join
      us](http://teawithstrangers.com).

.team
  .container
    - data.team.each do |m|
      %li.team-member
        %img{src: image_path(m[:avatar])}
        .la-info
          %h2.name= m[:name]
          %h5.title= m[:title]
          /%p.tagline= m[:tagline]
          %p.description= m[:story]
        .personal-info
          = link_to "@#{m[:twitter]}", "https://twitter.com/#{m[:twitter]}", class: 'twitter'
          = link_to "#{m[:email]}", "mailto:#{m[:email]}", class: 'email'
          = link_to "#{m[:site]}", "#{m[:site]}", class: 'site'
