= partial 'partials/header'

.team-tws
  .container
    .content
      .content-box
        /lol
        %h2
          %br
.container
  %section.copy-section
    %h1.copy-section-header Who Are We?
    - (1..3).each do |x|
      %p= lorem.paragraph
  .copy-section-bottom-divider

.team
  .container
    - data.team.each do |m|
      %li.team-member
        %img{src: image_path(m[:avatar])}
        .tws-info
          %h2.name= m[:name]
          %h5.title= m[:title]
          /%p.tagline= m[:tagline]
          %p.description= m[:story]
        .personal-info
          = link_to "@#{m[:twitter]}", "https://twitter.com/#{m[:twitter]}", class: 'twitter'
          = link_to "#{m[:email]}", "mailto:#{m[:email]}", class: 'email'
          = link_to "#{m[:site]}", "#{m[:site]}", class: 'site'

= partial 'partials/footer'
