%article{class: classes ||= "post"}
  %h3.post-title= link_to article.title, article
  %hgroup.post-info
    /%ul.post-tags
    /  - article.tags.map do |t|
    /    %li.post-tag= link_to t, tag_path(t)
    .post-date= article.date.stamp("5th September, 2013")
  .post-summary.post-body
    - if full_article ||= false
      = article.body
    - else
      = article.summary
      - if article.summary != article.body
        = link_to 'Read On&hellip;', article, :class => 'post-read-more'

