%footer
  .container
    %nav.nav-list.open
      %ul.nav-links
        %li.nav-link-item
          = link_to 'GitHub', 'https://github.com/teawithstrangers.com'
        %li.nav-link-item
          = link_to 'Team', '/team'
        %li.nav-link-item
          = link_to 'Blog', '/blog'
  .container
    %nav.nav-list.open
      %ul.nav-links
        %li.nav-link-item
          = link_to 'Sign Up for Tea Time', 'http://teawithstrangers.com' 
        %li.nav-link-item
          = link_to 'Become A Host', 'http://teawithstrangers.com/hosting'
        %li.nav-link-item
          = link_to 'Let\'s Get Tea', 'http://teawithstrangers.com'
